/* ---------- Color Module Styles ----------- */
body,
#page-wrapper {
  background-color: #f5deb3;
  color: #000000;
}

#main,
body.overlay {
  background-color: #000000;
  color: #000000;
}

#page {
  /* bg */
  background-color: #000000;
}

#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background-color: #000000;
}

.tabs ul.secondary li a,
.tabs ul.primary li a {
  border-color: #c89589;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: #000000;
}

.tabs ul.secondary li a.active:hover,
.tabs ul.secondary li a:hover,
.tabs ul.primary li a.active:hover,
.tabs ul.primary li a:hover {
  background-color: #105250;
}

.tabs ul.secondary li.active a,
.tabs ul.primary li.active a {
  background-color: #000000;
  border-color: #c89589;
}

.tabs ul.secondary li {
  border-color: #c89589;
}

#header {
  background-color: #105250;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5OTMwMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZmY2MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #105250), color-stop(100%, #105250));
  background-image: -moz-linear-gradient(left, #105250, #105250);
  background-image: -webkit-linear-gradient(left, #105250, #105250);
  background-image: linear-gradient(to right, #105250, #105250);
}

a.visited,
a {
  color: #ffffff;
}

a:hover,
a:focus {
  color: #eee5e5;
}

a:active {
  color: #eee5e5;
}

li a.active {
  /* important! */
  color: #000000;
}

.column-block,
.sidebar .block {
  background-color: #f5deb3;
  border-color: #f5deb3;
  color: #000000;
}

.column-block h2,
.sidebar h2 {
  border-bottom-color: #f5deb3;
  color: #000000;
}

.column-block a,
.sidebar a {
  color: #105250;
}

.column-block table tr th,
.sidebar .block table tr th {
  border-color: #f5deb3;
  border-color: #f5deb3;
  border-color: #f5deb3;
}

.node {
  background-color: #f5deb3;
  border-color: #ffdcdc;
}

.node h2 {
  /* nodedividers */
  border-color: #ca868b;
}

.node-sticky {
  background-color: #f5deb3;
}

.node .submitted {
  color: #4e4e4e;
}

#menubar,
#submenubar,
#navigation {
  border-bottom-color: #c89589;
}

#navigation ul li {
  border-right-color: #c89589;
  color: #000000;
}

#navigation ul li.last {
  border-right: none;
}

.highlight {
  background-color: #105250;
}

div.item-list ul.pager li a:hover,
#navigation ul li a:hover {
  background-color: #105250;
}

#page-title {
  background-color: #105250;
  color: #f5deb3;
}

#content .block h2 {
  /* main content: block title */
  background-color: #105250;
  color: #f5deb3;
}

#content .node h2 {
  /* main content: block title */
  background-color: transparent;
  color: #000000;
}

#content .node-sticky h2 {
  /* main content: block title */
  background-color: transparent;
}

#footer-wrapper {
  background-color: #6d2b1c;
  color: #ffffff;
}

#footer-wrapper a {
  color: #f5deb3;
}

#footer-wrapper .column-block {
  background-color: #6d2b1c;
  color: #ffffff;
}

#footer-wrapper .column-block h2 {
  border: none;
  color: #ffffff;
}

#footer-wrapper .column-block a {
  color: #f5deb3;
}

#footer {
  background-color: #6d2b1c;
  color: #ffffff;
}

#footer a {
  color: #f5deb3;
}

.region-header,
.region-header a,
.region-header li a.active,
#header #name-and-slogan,
#header #name-and-slogan a {
  color: #ffffff;
}

form fieldset {
  border: solid 1px #c89589;
}

blockquote {
  border-color: #ca868b;
}

/*-------------- Additional for dark colors --------------*/
.filter-wrapper {
  background-color: #000000;
}

.comment {
  background-color: #f5deb3;
  border-color: #ffdcdc;
}

.comment h3 {
  border-color: #ca868b;
}

.comment-unpublished {
  background-color: #f5deb3;
}

.comment .submitted {
  color: #4e4e4e;
}

table.views-view-grid tr {
  background-color: #000000;
}

td.views-field {
  background-color: #000000;
}

table tr th {
  background-color: #6d2b1c;
  border-right-color: #000000;
}

fieldset {
  border-color: #ca868b;
  /* nodedivider color */
}

tr.even,
tr.even td {
  background-color: #f5deb3;
}

tr.odd,
tr.odd td {
  background-color: #f5deb3;
}

tr.even td.active,
tr.odd td.active {
  background-image: url(/sites/all/themes/mayo/images/dark.png);
}

.profile .user-picture {
  background-color: #000000;
}

.column-block table tr td,
.sidebar .block table tr td {
  border-color: #f5deb3;
}

.column-block table tr.even td,
.column-block table tr.odd td,
.sidebar .block table tr.even td,
.sidebar .block table tr.odd td {
  /* sidebar table does not have regular table even/odd row background */
  background-color: #f5deb3;
}

/*-------------- nice_menus color ---------------*/
.nice-menu a, .nice-menu a:active, .nice-menu a:visited, .nice-menu a:focus {
  color: #ffffff;
}

ul.nice-menu li.menuparent a {
  /* root menu item that has drop down menu */
  background-color: #000000;
}

ul.nice-menu li a {
  /* root menu item that has no drop down menu */
  background-color: #000000;
  border-right-color: #c89589;
}

ul.nice-menu li.menuparent a:hover,
ul.nice-menu li a:hover {
  /* root menu item hover color */
  background-color: #105250;
}

ul.nice-menu li.last ul li a,
ul.nice-menu li ul li a,
ul.nice-menu li ul li.last a {
  /* drop down menu items */
  border-color: #c89589;
}

ul.nice-menu li ul li.menuparent {
  /* drop down menu items that has child menu */
  background-color: #000000;
}

ul.nice-menu li.menuparent li {
  /* drop down menu items that has no child menu */
  background: none;
  background-color: #000000;
}

ul.nice-menu li.menuparent li:hover {
  background: none;
  background-color: #105250;
}

ul.nice-menu li ul {
  border: solid 1px #c89589;
}
